<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBIMnww0DiBuETQtaqgevglFtNgAjzwkIc</string>
	<key>GCM_SENDER_ID</key>
	<string>444539823777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hyeok.FenceApp</string>
	<key>PROJECT_ID</key>
	<string>fence-app-d14db</string>
	<key>STORAGE_BUCKET</key>
	<string>fence-app-d14db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444539823777:ios:6d185bad1cd8d01f2e32e0</string>
</dict>
</plist>